<link rel="import" href="../swatch-styles/swatch-styles.html">


<link rel="import" href="/extern/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/extern/bower_components/iron-collapse/iron-collapse.html">


<dom-module id="internal-links-table">
  <template>
    <style include="swatch-styles"></style>
    <style>

      .spacer {
        height: 20px;
      }
    </style>
    <button class$="{{getHeadingClass(links.status)}}" on-click="toggle">
      Internal Links
      <paper-icon-button icon="icons:expand-more" style="margin:0;padding:0"></paper-icon-button>
    </button>
    <iron-collapse id="link_table">
      <div class="content">
        <table>
          <tr>
            <th>Link ID</th><th>Source port</th><th>Source port status</th><th>Destination port</th><th>Destination port status</th>
          </tr>
          <template is="dom-repeat" items="{{links.links}}" as="link">
            <tr>
              <td>{{link.id}}</td><td>{{link.src_port}}</td><td class$="{{link.src_port_status}}">{{link.src_port_status}}</td>
              <td>{{link.dst_port}}</td><td class$="{{link.dst_port_status}}">{{link.dst_port_status}}</td>
          </template>
        </table>
      </div>
    </iron-collapse>
    <div class="spacer">&nbsp;</div>
  </template>
  <script>
      Polymer({
        is: 'internal-links-table',
        properties: {
          links: {
            type: Object,
            value: {}
          }
        },
        toggle: function() {
          this.$.link_table.toggle();
        },
        getHeadingClass: function(status) {
          return 'heading '+status+'-faded-bkg'
        }
      });
  </script>
</dom-module>
