<link rel="import" href="../swatch-styles/swatch-styles.html">


<link rel="import" href="/extern/bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="daqttc-table">
  <template>
    <style include="swatch-styles"></style>
    <style>

      .spacer {
        height: 20px;
      }
    </style>
    <button class$="{{getHeadingClass(system.ttc_daq_status)}}" on-click="toggle">
      TTC / DAQ
      <paper-icon-button icon="icons:expand-more" style="margin:0;padding:0"></paper-icon-button>
    </button>
    <iron-collapse id="amc13_table">
      <div class="content">
        <table>
          <tr>
            <th>AMC13 ID</th><th>Crate</th><th>Status</th>
            <template is="dom-repeat" items="{{system.ttc_daqs.0.components}}" as="component">
              <th>{{component.id}}</th>
            </template>
          </tr>
          <template is="dom-repeat" items="{{system.ttc_daqs}}" filter="isNotEmpty" as="processor">
            <tr>
              <td>{{processor.id}}</td><td>{{processor.crate}}</td><td class$="{{processor.status}}">{{processor.status}}</td>
            <template is="dom-repeat" items="{{processor.components}}" as="component" index-as="comp_idx">
              <td class$="{{component.status}}">{{component.status}}</td>
            </template>            
          </template>
        </table>
        </div>
      </iron-collapse>
      <div class="spacer">&nbsp;</div>
  </template>
  <script>
      Polymer({
        is: 'daqttc-table',
        properties: {
          system: {
            type: Object,
            value: {}
          }
        },
        toggle: function(event, detail, sender) {
          this.$.amc13_table.toggle()
        },
        isNotEmpty: function(processor) {
          return processor.status != "Empty";
        },
        getHeadingClass: function(status) {
          return 'heading '+status+'-faded-bkg'
        }
      });
  </script>
</dom-module>
